.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #063647; 
  color: white !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
  height: 40px;
  width: auto;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.nav-links li {
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer; 
}

.nav-links li:hover {
  color: #C5BAFF;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 5px;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #C4D9FF;
    padding: 15px;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }
}
